---
http_interactions:
- request:
    method: post
    uri: https://api.monday.com/v2/
    body:
      encoding: UTF-8
      string: '{"query":"{ boards { id name } }"}'
    headers:
      Authorization:
      - "<MONDAY_API_TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-04
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"boards":[{"id":"9050982180","name":"Mark Twain"},{"id":"9050974752","name":"Alice
        Johnson"},{"id":"9050949479","name":"whateverrrr"},{"id":"9024882330","name":"john
        doe"}]}}'
  recorded_at: Thu, 01 May 2025 20:08:08 GMT
recorded_with: VCR 6.3.1
