---
http_interactions:
- request:
    method: post
    uri: https://api.monday.com/v2/
    body:
      encoding: UTF-8
      string: '{"query":"\n          mutation {\n            create_workspace (name:
        \"New Workspace\", description: \"Test description\", kind: open) {\n              id\n              name\n            }\n          }\n        "}'
    headers:
      Authorization:
      - "<MONDAY_API_TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-04
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_workspace":{"id":"10849465","name":"New Workspace"}}}'
  recorded_at: Thu, 01 May 2025 20:08:06 GMT
- request:
    method: post
    uri: https://api.monday.com/v2/
    body:
      encoding: UTF-8
      string: '{"query":"{ workspaces { id name } }"}'
    headers:
      Authorization:
      - "<MONDAY_API_TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-04
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"workspaces":[{"id":"10849465","name":"New Workspace"},{"id":"10849009","name":"Bob
        Smith"},{"id":"10782788","name":"Main workspace"}]}}'
  recorded_at: Thu, 01 May 2025 20:08:06 GMT
recorded_with: VCR 6.3.1
