---
http_interactions:
- request:
    method: post
    uri: https://api.monday.com/v2/
    body:
      encoding: UTF-8
      string: '{"query":"\n          mutation {\n            delete_workspace(workspace_id:
        12345) {\n              id\n            }\n          }\n        "}'
    headers:
      Authorization:
      - "<MONDAY_API_TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-04
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"delete_workspace":null},"errors":[{"message":"The workspace
        does not exist. Please check your workspace ID and try again","locations":[{"line":1,"column":10}],"path":["delete_workspace"],"extensions":{"code":"InvalidWorkspaceIdException","status_code":200,"error_data":{"workspace_id":12345}}}]}'
  recorded_at: Thu, 01 May 2025 20:08:04 GMT
recorded_with: VCR 6.3.1
