---
http_interactions:
- request:
    method: post
    uri: https://api.monday.com/v2/
    body:
      encoding: UTF-8
      string: '{"query":"{ workspaces { id name } }"}'
    headers:
      Authorization:
      - "<MONDAY_API_TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-04
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"workspaces":[{"id":"10782788","name":"Main workspace"}]}}'
  recorded_at: Thu, 01 May 2025 18:33:47 GMT
recorded_with: VCR 6.3.1
