<div class="m-5">
    <h1>Workspace Details</h1>

<table class="table table-bordered">
    <tbody>
        <tr>
            <th>ID</th>
            <td><%= @workspace["id"] %></td>
        </tr>
        <tr>
            <th>Name</th>
            <td><%= @workspace["name"] %></td>
        </tr>
        <tr>
            <th>State</th>
            <td><%= @workspace["state"] %></td>
    </tbody>
</table>
</div>